---
import Layout     from '../layouts/Layout.astro';
import Navbar     from '../components/Navbar.astro';
import Hero       from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Education  from '../components/Education.astro';
import Projects   from '../components/Projects.astro';
import Blog       from '../components/Blog.astro';
import Skills     from '../components/Skills.astro';
import Contact    from '../components/Contact.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Experience />
    <Education />
    <Projects />
    <Blog />
    <Skills />
    <Contact />
  </main>
</Layout>
